/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fb;
  color: #333;
  line-height: 1.6;
}